

.navi-block {

    position:absolute;
    border: 2px solid black;
    margin-left: 200px;

}

.block {


    justify-content: space-between;
    width: 900px;
    height: 180px;
    background-color: #ffce3e;
}
.heading {

    text-align: center;
    font-size: 30px;


}

.search {
    min-width: 900px;
}
.nai {
    min-width: 500px;
}
.har {
    min-width: 500px;
}


